.timeline-container {
  text-align: center;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.timeline-item:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #007bff; /* Color del punto */
  border-radius: 50%;
  z-index: 1;
}

.timeline-description {
  background-color: #343a40; /* Fondo de la descripción */
  color: #fff; /* Color del texto */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 45%;
  text-align: right;
}

.timeline-content {
  background-color: #212529; /* Fondo del contenido */
  color: #fff; /* Color del texto */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  width: 45%;
  text-align: left;
}

.completed:before {
  background-color: #28a745; /* Color del punto completado */
}

.intermediate:before {
  background-color: #ffc107; /* Color del punto en progreso */
}

.timeline h2 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-item:before {
    left: 20px;
    top: -10px;
  }

  .timeline-description,
  .timeline-content {
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
  }
}
